@import("../../../../stylus/index.styl");
.nav
    background: $front-color1
    margin: $margin
    padding: $padding
    .nav-box
        margin: $margin;
        border $borderWidth solid $orange
        padding: $padding
        h3 
            font-size: $h1 
            color: $orange