@import ("./color.styl");
@import ("./size.styl");

.btn{
    background: $orange;
    color: $frontW;
    font-size: $h3;
    text-align: center;
    height: $buttonHeight;
    width: 60%;
    border-radius: $margin
    line-height: $buttonHeight
    margin: $margin
}
.con{
     margin-top: $marginConTOP
   
    }
 .cont{
     
      
        li{
             width:$LiHeight
             margin-top: $buttonHeight
             margin-left: $ImgHeight

        }
 }
 .info{
       margin-top: $marginUlLeft
     }
      .btns{
          background: $orange;
          color: $frontW;
          font-size: $h3;
          text-align: center;
          height: $buttonHeight;
          width: 40%;
          border-radius: $margin
          line-height: $buttonHeight
          margin: $margin
     }