$footerHeight=0.8rem;
$headerHeight=0.8rem;
$ImgHeight=1.8rem;
$AHeight=7.5rem;
$LiHeight=4.5rem;



$h1=0.5rem;
$h2=0.3rem;
$h3=0.2rem;

$margin=0.2rem;
$marginConTOP=2.5rem;
$marginConLeft=2rem;

$marginUlTOP=-.5rem;
$marginUlLeft=-1.4rem;
$margingoodsimg=-1.7rem

$padding=0.1rem;

$buttonHeight=0.6rem;

$borderWidth=0.02rem;


