@import("../../stylus/index.styl");
.catecont{
    margin-top: $margingoodsimg
}
.cate 
    display: flex
    
    .left 
        width: 2rem
        div 
            text-align: center
            font-size: $h3 
            color: $front-color3
            line-height: $headerHeight
        .select
            color: $orange
    .right
        flex 1
        overflow hidden
        .item 
            width: 50% 
            float left
            .con
                margin: $margin
                height: 2rem
                border-radius: $margin
                overflow hidden
                position relative
                img 
                    width 100% 
                    height: 100% 
                div
                    position absolute
                    left 0
                    bottom: 0
                    background: $front-color3
                    color: $frontW
                    width: 100% 
                    text-align: center 
                    line-height: 0.4rem

