@import "../../../../stylus/index.styl"
.list{
 margin: $margin
   
}   
.imgs{ 
    width $ImgHeight
    height $ImgHeight
}
.pimg{
       width $ImgHeight
    }
.Imgcon{
     flex 1
    margin-left: $buttonHeight
}
.list-item{
    display: flex
   margin-top: $margin
    }
h4{
    color: $orange
    margin-top: $margin
}