@import "../../stylus/index.styl"

.goodsimg{
      width: 100vw 
      margin-top: $margingoodsimg

    }
h3{
    font-size: $h2
}
.goodscont{
    margin-left: $margin
    }
.goodslist1{
        color $orange
    }
.goodslist2{
       text-decoration-line: line-through
    }
.goodslist3{
    margin: $padding
    float left
    width $h1
    border: 1px  solid  $orange
    color $orange
    }
.footer
        width: 100vw 
        height: $footerHeight 
        box-sizing: border-box
        position fixed
        left 0
        bottom: 0
        background: $frontW
        border-top: 1px solid $font-color3

        .btn 
            margin-left: 1.25rem